:root {
    --bs-primary: #1d2d5d; /* Your color here */
}

.dropdown-search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-top: none;
    display: none;
  }
  
  .dropdown-search-results.show {
    display: block;
  }